* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: skyblue;
}

:root {
  --padding: 5px;
  --line-height: 20px;
  --body-font: 18px;
  --color: black;
  --letter-spacing: 1px;
  --margin-bottom: 20px;
  --container-width: 37vw;
}

.main-app-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 95vw;
  height: 100%;
  margin: auto;
}

.containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style: none;
  padding: var(--padding);
  color: var(--color);
  letter-spacing: var(--letter-spacing);
  margin: auto;
}

.headers {
  font-weight: bold;
  text-decoration: underline;
}

.info-containers-a {
  width: var(--container-width);
  height: 100%;
}

.container-a {
  width: var(--container-width);
  height: 100%;
}

.btn-a {
  cursor: pointer;
  border-radius: 5px;
  padding: var(--padding);
  font-weight: bold;
  text-decoration: underline;
}
